<div id="<%= dom_id(list_product) %> " >
  <div data-action="click->product#greet" data-ajax-request-url="/sample-path">
    <li>
      <input type="checkbox" id="<%= list_product.id %>" name="cb<%= list_product.id %>" <%= list_product.collected ? "checked" : "" %>  class="product">
      <label for="cb<%= list_product.id %>"><%= list_product.product.name %></label>
    </li>
  </div>

</div>