<div id="<%= dom_id(list_product) %>">
  <li>
    <input type="checkbox" id="<%= list_product.id %>" name="cb<%= list_product.id %>" <%= list_product.collected ? "checked" : "" %>>
    <label for="cb<%= list_product.id %>"><%= list_product.product.name %></label>
  </li>
</div>